     #page-wrapper{
        height: 100%;
        width: 100%;
    }
    #updates-tab{
        background-image: url(../images/background.png); 
        height: 87%; 
        margin-top:-5%;
        /*border: solid black 5px;*/
    }
    #live-map-tab{
        background-image: url(../images/background.png); 
        height: 87%; 
    }
    #roads-tab{
        background-image: url(../images/background.png); 
        height: 87%; 
    }
    #feed-tab{
        background-image: url(../images/background.png); 
        height: 87%;
    }
    #sidemenuli a {
      font-family: 'Open Sans Condensed', arial, sans;
       display: block;
       text-decoration: none;
       height: 5%;
    }
    #sidemenuli a:link{
     /*background-color: gray;*/
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
     #sidemenuli a:visited{
        color:#000;
        background-color: grey;
    }
    #sidemenuli a:hover a:visited{
    background-color: white;
    color: #000;
    }
     #sidemenuli a:active{
    background-color: white;
    color:#000;
    }
    #sidemenuli a.wide {
    display:block;
    }
    .panther{
    font-family: 'Open Sans Condensed', arial, sans;
    padding: 10px;
    background: #FFFFFF;
    margin: 20px auto;
    width: 93%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0);
    }
    #local-tweet-container{
        height: 100%;
    }
    .tweets{
        list-style-type: none;
        height: 100%;
        overflow-y: scroll;
    }
   
    #page-wrapper{
        margin-left: -8%;
        padding: 2%;
        margin-top: 15%;
        height: 10%;
        width: 110%
    }
    .menu2{
        border:solid black 1px;
    }
        .sb {
            
            margin-top: 5%;            
        } 
        .bd{
             margin-top: 5%;
        }
      #map {
        height: 100%;
          width: 100%;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

       #sidemenu{
        font-family: 'Open Sans Condensed', arial, sans;
        list-style: none;
       }
       #sidemenuli{
        font-family: 'Open Sans Condensed', arial, sans;
        padding: 10px;
        background: #FFFFFF;
        margin-left: -30%;
        margin-right: -16%;
        width: 110%
        /*margin: 10px auto;*/
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
       }
        .form-style-8{
        font-family: 'Open Sans Condensed', arial, sans;
        height: 80%;
        margin-top: 5%;
        width: 70%;
        padding: 30px;
        background: #FFFFFF;
        margin: 50px auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

        }
        .form-style-8 h4{
            /*background: #4D4D4D;*/
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Open Sans Condensed', sans-serif;
            color: #797979;
            font-size: 18px;
            font-weight: 100;
            padding: 20px;
            margin: -30px -30px 30px -30px;
        }
        .form-style-8 input[type="text"],
        .form-style-8 input[type="date"],
        .form-style-8 input[type="datetime"],
        .form-style-8 input[type="email"],
        .form-style-8 input[type="number"],
        .form-style-8 input[type="search"],
        .form-style-8 input[type="time"],
        .form-style-8 input[type="url"],
        .form-style-8 input[type="password"],
        .form-style-8 textarea,
        .form-style-8 select
        {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            display: block;
            width: 100%;
            padding: 7px;
            border: none;
            border-bottom: 1px solid #ddd;
            background: transparent;
            margin-bottom: 10px;
            font: 16px Arial, Helvetica, sans-serif;
            height: 45px;
        }
        .form-style-8 textarea{
            resize:none;
            overflow: hidden;
        }
        .form-style-8 input[type="button"],
        .form-style-8 input[type="submit"]{
            -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
            -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
            box-shadow: inset 0px 1px 0px 0px #45D6D6;
            background-color: grey;
            border: 1px solid grey;
            display: inline-block;
            cursor: pointer;
            color: #FFFFFF;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 14px;
            padding: 8px 18px;
            text-decoration: none;
            text-transform: uppercase;
            margin-top: 3%;
            margin-left: 45%;
        }
        .form-style-8 input[type="button"]:hover,
        .form-style-8 input[type="submit"]:hover {
            background:linear-gradient(to bottom, black: 5%, black 100%);
            background-color:black;
        }